@media only screen and (max-width : 995px) {
    .outletCards-container {
        width: 100% !important;
        padding: 0 !important;
        flex-direction: row !important;
    }


    .side-tab {
        display: none !important;
    }


    .form-tab {
        width: 100vw !important;
    }

    .profile-form-cont {
        flex-direction: column !important;
        width: 90% !important;
    }

    .prefer-institute {
        width: 83.5% !important;
    }

    .phone-input {
        width: 80% !important;
    }

    .office-form-group {
        margin-left: 0 !important;
    }
}


@media only screen and (max-width : 600px) {
    .nav-header {
        visibility: hidden;
    }

    .section-wrapper {
        display: contents;
    }

    .first-container {
        width: 100% !important;
    }

    .outlet {
        width: 100vw !important;
        margin-top: 15% !important;
        padding: 0px !important;
        z-index: -999;
    }

    .outletCards-container {
        width: 100% !important;
        padding: 0 !important;
        flex-direction: row !important;
    }

    .profile-picture {
        left: 0 !important;
    }

    .profile-detail {
        margin-left: 9rem !important;
    }

    .profile-detail-name {
        font-size: 14px !important;
    }

    .profile-detail-email {
        font-size: 12px !important;
    }

    .profile-form-bg {
        display: contents !important;
        box-shadow: none !important;
    }

    .outlet-table {
        width: 100% !important;
    }

    .profile-form-cont {
        width: 100% !important;

    }

}

.profile-form-cont {
    width: 80%;
    margin: 70px;
    display: flex;
    column-gap: 20px;

}
.otp-page{
    justify-content: center;
    align-items: center;
    display: flex;
}

.phone-input {
    width: 22vw;
}

.footerPlus-container {
    position: relative;
    font-size: 12px;
    flex: none;
    width: fit-content;
    max-width: 87%;
    padding-left: 35px;
    font-size: 14px;
    font-family: "IBM Plex Sans";
    color: #6941C6;
    font-weight: 600;

}

.prefer-institute {
    height: 16px;
    width: 22vw;
    position: relative;
    display: flex;
    overflow-x: auto;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    gap: 3px;
    overflow-y: hidden;
    padding-bottom: 20px;
    scrollbar-width: none;
    padding-left: 12px;
}

.address_dropdown-icon {
    position: relative;
    left: 370px;
    top: -35px;
}

.address_dropdown-icon2 {
    position: relative;
    left: 622px;
    top: -97px;
    cursor: pointer;
}


.address_dropdown {
    background-color: white;
    width: 39%;
    height: 260px;
    overflow-y: scroll;
    margin-top: -45px;
    margin-left: 115px;
    -webkit-box-shadow: 1px 3px 20px -1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 3px 20px -1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 3px 20px -1px rgba(0, 0, 0, 0.16);

}

.section-wrapper {
    background: #E9ECEF;
    height: 100%;
    width: 78vw;
    margin-left: 20vw;
}


.profile {
    display: flex;
    width: 25%;
    color: black !important;
    position: relative;
    left: -92px;
}

.admin-initial {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: 2px solid grey;
    text-align: center;

}

.admin-initial-profile {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    border: 2px solid grey;
}

.admin-name {
    font-family: 'IBM Plex Sans';
    font-style: bold;
    font-size: 11.22px;
    line-height: 0%;
    margin-top: 12px;
    width:200px
}

.admin-position {
    font-family: 'IBM Plex Sans';
    font-style: Medium;
    font-size: 12.11px;
    line-height: 120%;

}

.notification {
    height: 60px;
    border-left: 1px solid #d0d5dd;
    border-right: 1px solid #d0d5dd;
    padding: 5px;
    color:white;
}

.navbar-container {

    height: 6%;
    /* background: #e9ecef;
    box-shadow: '#000';
    width: 100%; */
}

.nav-original {
    justify-content: space-between;
    display: flex;
    background-color:#135D54;
    position: fixed;
    width: 90%;
    height: 69px;
    z-index: 10;
    border-bottom: 1px solid #d0d5dd;
}


.nav-header {
    justify-content: space-between;
    display: flex;
    background-color:#135D54;
    position: fixed;
    width: 100%;
    height: 69px;
}

.nav-toggle {
    display: none;
}

.first-container {
    width: 95%;
    margin: 0 auto;
    height: 8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d9dde4;
}

.portfolio-img-container {
    width: 84.3vw;
    height: 8rem;
    /* border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    background-color: #d9dde4;
}

.navbar-profile-dropdown {
    height: 400px;
    width: 20rem;
    background: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding-top: 40px;
}

.navbar-dropdown-settings {
    border: 2px solid #E7E8EA;
    color: #5F646F;
    background-color: white;
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'IBM Plex Sans';
    font-style: Medium;
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 10px;
    cursor: pointer;
}

.navbar-dropdown-b-update {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;
    width: 100%;
    height: 50px;
    background: #0D9B48;
    border-radius: 4px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    flex: none;
    color: white;
    border: #0D9B48;
    order: 1;
    cursor: pointer;
    flex-grow: 0;
    margin-top: 48px;
    margin-bottom: 48px;
}

.navbar-dropdown-signout {
    border: 2px solid #E7E8EA;
    color: #5F646F;
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-family: 'IBM Plex Sans';
    font-style: Medium;
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 10px;
    cursor: pointer;
}





.profile-detail {
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.profile-picture {
    left: 5rem;
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: -5rem;
}

.links-container {
    display: none;
}

@media screen and (min-width: 992px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    /* .navbar-container {} */

    .nav-header {
        justify-content: space-between;
        display: flex;
        background-color: #135D54;
        padding: 0.8rem;
        width: 100%;

    }

    .dashboard-section {
        background: #135D54;
        height: 100%;
        width: 100vw;

    }
}

.outlet {
    padding: 0rem;

    justify-content: space-between;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    gap: 0rem;
    /* margin-top: 5%; */
    background-color: #F0F1F1;
}

.toogle-button {
    width: 50px;
    height: 30px;
    border-radius: 50%;
}

.outletCards-container {
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.outlet-cards {
    width: 95%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: '1rem';

    gap: 1rem;
}

@media screen and (max-width: 992px) {
    .outlet {
        padding: 0.5rem;
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .outletCards-container {
        width: 95%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .outlet-cards {
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: var(--light-shadow);
    }
}

.outlet-filter {
    width: 94%;
    margin: 0 auto;
    padding: 0rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--light-shadow);
    border-radius: 5px;
    position: relative;
    margin-left: 42px;
}

.empty-outlet-filter {
    width: 90%;
    padding: 0rem 1rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--light-shadow);
    border-radius: 5px;

}

.outlet-table {
    width: 97%;
    padding: 0rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.empty-table-outlet {
    width: 93%;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.table-header {
    width: 100%;
    margin-top: 1rem;
    padding: 0rem 1rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--light-shadow);
    border-radius: 5px;
}

.table-cell {
    width: 100%;
    margin-top: 1rem;
    padding: 0rem 1rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--light-shadow);
    border-radius: 5px;
}

.approved-programme-cell {
    width: 35%;
    margin-top: 1rem;
    padding: 0rem 1rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--light-shadow);
    border-radius: 5px;
}

.side-tab {
    width: 13%;
    margin-left: 40px;
    padding: 0.5rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    box-shadow: var(--light-shadow);
    background-color: #fff;
    border-radius: 0.5rem;
    gap: 1rem;
}

.form-tab {
    width: 80%;
    padding: 0.5rem;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 99px;
    border-radius: 0.5rem;
    /* background: #ffffff; */
    margin-top: 95px;
}

.form-tab-header {
    width: 96%;
    padding: 0.5rem;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--light-shadow);
    background-color: #fff;
    border-radius: 0.5rem;
    /* margin-left: 3rem; */
    /* margin-top: 42px; */
}

.activity-details {

    margin-left: 10px;
    margin-top: 20px;
}

.activity-details p {
    font-size: 16px;
    font-family: 'IBM Plex Sans';
}

.activity-div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.activity-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4px;
}

.act-btn {
    width: 150px;
    height: 48px;
    padding: .8rem .4rem;
    border-radius: 5px;
    border: none;
    display: flex;
    background-color: #fff;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.act-btn:hover {
    color: #0D9B48;
    background-color: #E7F7ED;
    border-radius: 6px;
}

.graph-image {
    position: relative;
    bottom: 40px;
    left: 350px;
}

.form-details {
    width: 96%;
    padding: 0.5rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--light-shadow);
    background-color: #fff;
    border-radius: 0.5rem;
    overflow-y: scroll;
    /* margin-left: 3rem; */
}

.sidebar-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 4rem;
    align-items: left;
}

.activity-log-container {
    min-width: 98%;
    min-height: 100%;
}

.activity-log-icons {
    margin: -.4rem 1rem;
    min-height: 400px;
    display: flex;

}

.activity-log-container-icons {
    width: 9%;
    margin: -0.2rem -2rem;
}

.activity-log-writing {
    margin: 1.8rem 1rem;
    width: 100%;
    line-height: 100%;
}

.activity-log-writing h2 {
    padding: 0.1rem;
    margin-bottom: -0.5rem;
    line-height: 120%;
    font-size: 18px;
}

.activity-log-date {
    margin: 2rem -1rem;
}

.activity-log-date h2 {
    padding: 0.1rem;
    margin-bottom: -0.5rem;
    line-height: 120%;
    font-size: 18px;
}

._dropdown {
    height: 20%;
    width: 20%;
    background-color: #fff;
    box-shadow: var(--light-shadow);
    z-index: 999;

}

.footer-plus {
    background-color: #0D9B48;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.footer-plus-wrap {
    background-color: #F9F5FF;
    height: 40px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}


.footer-plus-wrap-price {
    background-color: #F9F5FF;
    height: 40px;
    width: 120px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
}

.input-preferred {
    background-color: #F9F5FF;
    height: 30px;
    width: 88%;
    border-radius: 15px;

    border: none;

}

.input-preferred-price {
    background-color: #F9F5FF;
    height: 10px;
    width: 95px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    margin-top: -30px;
}

.input-program-price {
    background-color: #F9F5FF;
    height: 10px;
    width: 60%;
    border-radius: 15px;
    border: none;
}

.input-preferred::placeholder {
    color: #8D9AA94D;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-add-btn {
    background-color: #0EAA4F;
    color: white;
    font-family: "IBM Plex Sans";
    border: #0D9B48;
    border-radius: 15px;
    width: 65px;
    padding: 5px;
}

.footer-cancel-btn {

    width: 65px;
    border: 1px solid #0D9B48;
    background-color: white;
    color: #0D9B48;
    font-family: "IBM Plex Sans";
    border-radius: 15px;
    padding: 5px;

}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}