.addTrainee-container {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.trainee-form-header {
    width: 95%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.trainee-from-details {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.trainee-input-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.trainee-input {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-button {
    width: 100%;
    height: 24px;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    font-family: 'IBM Plex Sans';

}

.preview-table-header {
    color: '#000';
    background-color: #D9DDE4;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    border-radius: 20px;
    gap: 7rem
}

.preview-table {
    justify-content: space-between;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.refer-trainee-container {
    margin: 35px 50px;
}

.refer-trainee-header button {
    /* position: absolute;
    right: 50px;
    top: 6%; */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.refer-trainee-header p {
    color: #72757a;
    font-size: 16px;
}

.page-details {
    line-height: 190%;
}

.refer-trainee-body {
    margin: auto;
    margin-top: 13px;
    width: 90%;
    padding: 10px;
}

.refer-trainee-body button {
    display: flex;
    align-items: flex-end;
    padding: 4px;
    gap: 2px;
    width: 77.29px;
    height: 24px;
    cursor: pointer;
    position: relative;
    background: #ecfdf3;
    border-radius: 4px;
    border: none;
    padding: 4px;
    float: right;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.add-more-button button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.input-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.input-container div h5 {
    font-weight: normal;
    margin-bottom: 7px;
}

input {
    height: 40px;
    width: 290px;
    align-items: center;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.refer-trainee-footer {
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.refer-trainee-footer .buttons {
    position: absolute;
    bottom: 60px;
    right: 50px;
}

.buttons button {
    width: 191px;
    height: 43px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid #0d9b48;
    color: #0d9b48;
    background-color: transparent;
    cursor: pointer;
}

.buttons #preview {
    background-color: #0d9b48;
    color: white;
}

.refer-trainee-footer .group-link {
    position: absolute;
    bottom: 65px;
    left: 50px;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-decoration-line: underline;
}

.review-trainee-container {
    margin: 35px 50px;
}

.review-trainee-header button {
    position: absolute;
    right: 50px;
    top: 6%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.review-trainee-header p {
    color: #72757a;
    font-size: 16px;
}

.page-details {
    line-height: 190%;
}

.review-trainee-body {
    margin: auto;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    width: 100%;
}

.review-trainee-body ul li {
    display: flex;
}

.review-trainee-body ul li p {
    width: 100%;
    margin-left: 20px;
    /* padding-right: 20px; */
    min-width: 60px;
    overflow: auto;
}

.review-head {
    display: flex;
    background: #d9dde4;
    border-radius: 12px 12px;
    margin-bottom: 5px;
}

.review-head p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.details-list-item li {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details-list-item p {
    margin-bottom: 2px;
    margin-top: 5px;
    width: 200px;
}

.review-trainee-footer {
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.review-trainee-footer .buttons {
    position: absolute;
    bottom: 60px;
    right: 50px;
    color: #0d9b48;
}

.buttons button {
    width: 191px;
    height: 43px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid #0d9b48;
    background-color: transparent;
    cursor: pointer;
    background-color: white;
}

.buttons #preview {
    background-color: #0d9b48;
}

table {
    border-collapse: collapse;
    width: 100%;
    top: 300px;
    left: -300px;
}

td,
th {

    text-align: left;
    /* padding: 1.6rem; */
    font-family: 'IBM Plex Sans';
}