.addinput-container {
    width: 100%;
    height: auto;
    position: relative;
}

.addinput-second-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20rem;

}

.form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2rem;
    padding: 0;
}
.role-input{
    display: flex;
    flex-direction: column;
    margin: 0 -.6rem;
}
.role-select{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 14px;
    gap: 8px;
    outline: none;
    width: 200%;
    height: 40px;
    border: 1px solid #D0D5DD;
}
.addinput-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14%;
    position: absolute;
    top: 26%;
}
.delete-icon{
    padding: .4rem 1rem;
}
.form-input-labin{
    margin: 0 -1.1rem;
    position: relative;
}
.role-select option{
    font-size: 16px;
    font-family: 'IBM Plex Sans';
}

